body {
  background-color: #26335d;
}
.menu-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  position: relative;
  /* top: 500px; */
}
.site-logo {
  color: #ffffff;
  font-family: JetBrains Mono;
}
.navbar-items {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
.navbar-items li {
  padding-right: 75px;
  font-size: 20px;
  font-family: JetBrains Mono;
  color: #ffffff;
}
.navbar-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 12px;
}
.navbar-button button {
  padding: 7px 20px 7px 20px;
  margin-right: 20px;
  font-size: 16px;
  font-family: JetBrains Mono;
  font-weight: 600;
  background-color: #23a6f0;
  border: 1px solid #23a6f0;
  border-radius: 3px;
  color: white;
}
.second-container-button button {
  padding: 7px 20px 7px 20px;
  margin-right: 20px;
  margin-top: 25px;
  font-size: 16px;
  font-family: JetBrains Mono;
  font-weight: 600;
  background-color: #23a6f0;
  border: 1px solid #23a6f0;
  border-radius: 3px;
  color: white;
}
.header-section {
  background-image: url("https://i.ibb.co/rQGdZph/background.png");
  height: 827px;
  width: full;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -10px;
}
.header-greeting {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: white;
}
.headline {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: -30px;
}
.sub-headline {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: -20px;
}
.button {
  text-align: center;
  padding: 7px 20px 7px 20px;
  border: 1px solid #23a6f0;
  border-radius: 3px;
  cursor: pointer;
  background-color: #23a6f0;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: JetBrains Mono;
  margin: auto;
}
.heading-button {
  text-align: center;
  margin-top: 40px;
}

.book-img {
  width: 62px;
  height: 62px;
  background: #e74040;
  border-radius: 200px;
}
.book {
  position: relative;
  top: 22%;
  left: 23.5%;
}
.feature-title-1 {
  width: 172px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.feature-description {
  width: 210px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
hr {
  position: relative;
  left: -90px;
  margin-top: 27px;
  margin-bottom: 27px;
  width: 25%;
  height: 2px;
  background: #e74040;
}
.card {
  position: relative;
  top: -160px;
  padding: 35px 40px;
  gap: 20px;
  width: 328px;
  height: 288px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.card-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 1046px;
  margin: 0 auto;
  height: 288px;
}
.container {
  width: 1050px;
  height: 683px;
  margin: 0 auto;
  margin-top: 200px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 1045px;
  height: 363px;
}
.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 1038px;
  height: 501px;
}
.fix-width-fix-height {
  width: 94px;
  height: 7px;
  background: #e74040;
}
.container-section-title {
  width: 243px;
  height: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.container-section-title2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.container-paragraph {
  width: 351px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.container-paragraph2 {
  width: 351px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: left;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.second-container {
  width: 1050px;
  height: 821px;
  margin: 0 auto;
}

/* course section style */
.course-section {
  position: relative;
  top: -200px;
  height: 1072px;
  width: 1050px;
  margin: 0 auto;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 691px;
  height: 134px;
}
.tag-section {
  width: 59px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8d5cf6;
}
.section-title {
  position: relative;
  top: -70px;
  width: 450px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.section-paragraph {
  position: relative;
  top: -110px;
  width: 469px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.card-section {
  position: relative;
  top: 350px;
}
.sale-button {
  position: relative;
  top: 50px;
  left: 20px;
  background: #e74040;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0px 10px;
  border: 1px solid #e74040 ;
  color: white;
  font-size: 17px;

}
.card-img{
  width: 240px;
  position: relative;
  top: -22px;
  right: 1px;

}
.main-card{
  padding: 0px;
  width: 238px;
  height: 602px;
  background: #ffffff;
}
