body {
  background-color: #26335d;
}
.menu-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  position: relative;
  /* top: 500px; */
}
.site-logo {
  color: #ffffff;
  font-family: JetBrains Mono;
}
.navbar-items {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
.navbar-items li {
  padding-right: 75px;
  font-size: 20px;
  font-family: JetBrains Mono;
  color: #ffffff;
}
.navbar-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 12px;
}
.navbar-button button {
  padding: 7px 20px 7px 20px;
  margin-right: 20px;
  font-size: 16px;
  font-family: JetBrains Mono;
  font-weight: 600;
  background-color: #23a6f0;
  border: 1px solid #23a6f0;
  border-radius: 3px;
  color: white;
}
.header-section {
  background-image: url("https://i.ibb.co/rQGdZph/background.png");
  height: 827px;
  width: full;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -10px;
}
.header-greeting {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: white;
}
.headline {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: -30px;
}
.sub-headline {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: -20px;
}
.button {
  text-align: center;
  padding: 7px 20px 7px 20px;
  border: 1px solid #23a6f0;
  border-radius: 3px;
  cursor: pointer;
  background-color: #23a6f0;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: JetBrains Mono;
  margin: auto;
}
.heading-button {
  text-align: center;
  margin-top: 40px;
}

.book-img {
  width: 62px;
  height: 62px;
  background: #e74040;
  border-radius: 200px;
}
.book {
  position: relative;
  top: 22%;
  left: 23.5%;
}
.feature-title-1 {
  width: 172px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.feature-description {
  width: 210px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
hr {
  position: relative;
  left: -90px;
  margin-top: 27px;
  margin-bottom: 27px;
  width: 25%;
  height: 2px;
  background: #e74040;
}
.card {
  position: relative;
  top: -160px;
  padding: 35px 40px;
  gap: 20px;
  width: 328px;
  height: 288px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.card-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 1046px;
  margin: 0 auto;
  height: 288px;
}
